
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #4D3347;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #86112E;
    color: #fff;
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px;
    flex-direction: column;
}

footer {
    text-align: center;
    background-color: #2E2E41;
    
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}

h1 {
    color: #f8f2f2;
}
h2 {
    color: black;
    text-align: center;
}

p {
    line-height: 1.6;
    color: #181313;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

a {
    background-color: #EB31B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section:last-child,
a {
    margin-bottom: 80px;
    text-align: center;
}
.hobbies-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.hobby-image {
   
    border-radius: 20px;
    margin-bottom: 10px;
}
.hobby-item {
    width: 48%;
    text-align: center;
}
